body {
    background: #fff url('/assets/img/19.png');
}

figure img {
    max-width: 100%;
}

.site-header {
    padding: 47px;
}

.site-title {
    font-size: 3em;
}

.site-title a {
    color: #116ec1;
}

.site-title a:hover {
    text-decoration: none;
}

.site-title a:before {
    content: '>';
    margin-right: 10px;
}

.site-title a:after {
    animation: blinker 2.5s linear infinite;
    content: '_';
    margin-left: 10px;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.site-navigation {
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.site-navigation .nav-link {
    padding: 15px 0;
    margin-right: 20px;
}

.site-navigation .nav-link.active {
    position: relative;
}

.site-navigation .nav-link.active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}

.site-footer {
    padding: 10px 0;
    border-top: 1px solid #eee;
    background: #fff url('/assets/img/19.png');
}

.site-content {
    background: #fff;
    padding: 20px 0;
}

.site-content-header {
    border-bottom: 1px solid #eee;
    padding:20px 0;
    margin-bottom: 20px;
}

.jumbotron {
    background: #fdffdd url('/assets/img/grid-2.png');
    border: 1px solid #ddd    
}

.blog-post-meta {
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 0.8rem;
}

.blog-widget {
    margin-bottom: 20px;
}

.blog-widget header {
    text-transform: uppercase;
    margin: 5px 0;
}

.card-columns {
    columns: 3;
}

.code-snippet {
    width: 100%;
}

.code-snippet > pre {
    margin: 0;
    border: none;
}
