{% extends ':blog:layout.html.twig' %}

{% block blog_content %}
    {% if posts is not empty %}
        {% for hit in posts %}
            {% set post = hit.valueObject %}

            {{ render(controller('ez_content:viewAction', {
                'locationId': post.contentInfo.mainLocationId,
                'viewType': 'line',
            })) }}
        {% endfor %}

        {% if posts.haveToPaginate() %}
            {{ pagerfanta(posts) }}
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">
            Brak wpisów :(
        </div>
    {% endif %}
{% endblock %}
