{% extends '::pagelayout.html.twig' %}

{% block content %}
    <div id="article-page" class="content">
        <article class="blog-post">
            <h1>{{ ez_content_name(content) }}</h1>

            <div class="lead">
                {{ ez_render_field(content, 'intro') }}
            </div>

            {{ ez_render_field(content, 'body') }}
        </article>
    </div>
{% endblock %}
