{% extends '::pagelayout.html.twig' %}

{% block content %}
    <div id="home-page" class="content">
        <div class="jumbotron">
            {{ ez_render_field(content, 'introduction') }}

            <div class="text-center">
                <span class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-default btn-lg btn-default" role="button">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        Portfolio
                    </a>
                    <a href="#" class="btn btn-default btn-lg btn-primary" role="button">
                        <i class="glyphicon glyphicon-user"></i>
                        Curriculum Vitae
                    </a>
                </span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Ostatnio zrealizowany projekt
            </div>
            <div class="panel-body">
                {{ render(controller('ez_content:viewAction', {
                    'locationId': portfolio_location_id,
                    'viewType': 'home',
                })) }}
            </div>
        </div>
    </div>
{% endblock %}
