{% extends '::pagelayout.html.twig' %}

{% set blog_url = path('ez_urlalias', {
    'locationId': blog_location_id
}) %}

{% block content %}
    <div id="home-page" class="container">
        <div class="jumbotron">
            {{ ez_render_field(content, 'introduction') }}
        </div>

        <section class="homepage-section">
            <header>
                <h3 class="mb-4">Ostatnio dodane posty</h3>
            </header>

            <div class="card-deck">
                {{ render(controller('ez_content:viewAction', {
                    'locationId': blog_location_id,
                    'viewType': 'home',
                })) }}
            </div>

            <p class="text-right mt-2">
                <a href="{{ blog_url }}">Zobacz więcej &raquo;</a>
            </p>
        </section>
    </div>
{% endblock %}
