{% extends ':blog:layout.html.twig' %}

{% block content_header %}
    <div class="site-content-header">
        <header class="container">
            <h1>Wyniki wyszukiwania</h1>
        </header>
    </div>
{% endblock %}

{% block blog_content %}
<div id="search-results">
    <div class="mb-4">
        {% include ':blog:search_form.html.twig' with { form: form } %}
    </div>

    {% if results is not empty %}
        {% for hit in results %}
            {% set post = hit.valueObject %}

            {{ render(controller('ez_content:viewAction', {
                'locationId': post.contentInfo.mainLocationId,
                'viewType': 'line',
            })) }}
        {% endfor %}

        {% if results.haveToPaginate() %}
            {{ pagerfanta(posts) }}
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">
            Brak wyników wyszukiwania.
        </div>
    {% endif %}
</div>
{% endblock %}

{% block blog_sidebar %}{% endblock %}
